@model _1132FinalProject.Models.NewMembersModel

@{
    ViewData["Title"] = "Create";
}

<div class="admin-form-page d-flex justify-content-center">
    <div class="admin-form-card">
        <h2 class="page-title-wheat text-center mb-4">新增新生資料</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="Register_textbox text-center">
                @Html.LabelFor(model => model.StuId)
                @Html.EditorFor(model => model.StuId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StuId, "", new { @class = "text-danger" })
            </div>

            <div class="Register_textbox text-center">
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="Register_textbox text-center">
                @Html.LabelFor(model => model.NickName)
                @Html.EditorFor(model => model.NickName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
            </div>

            <div class="Register_textbox text-center">
                @Html.LabelFor(model => model.Department)
                @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
            </div>

            <div class="Register_textbox text-center">
                @Html.LabelFor(model => model.Section)
                @Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Section, "", new { @class = "text-danger" })
            </div>

            <div class="Register_textbox text-center">
                @Html.LabelFor(model => model.IG_Account)
                @Html.EditorFor(model => model.IG_Account, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IG_Account, "", new { @class = "text-danger" })
            </div>

            <div class="text-center mt-3">
                <input type="submit" value="新增" class="btn btn-primary fw-bold w-100" style="max-width:250px" />
            </div>
        }

        <div class="text-center mt-3">
            @Html.ActionLink("返回清單", "List", null, new { @class = "btn btn-secondary fw-bold w-100", style = "max-width:250px" })
        </div>
    </div>
</div>
