@model _1132FinalProject.Models.NewMembersModel

@{
    ViewData["Title"] = "Delete";
}



<div class="text-center" style="color:wheat; font-size:20px">
<div style="margin-top: 12rem; font-size:25px; color:red; font-weight:bold">確定要刪除這筆資料?</div>

    <!-- 顯示即將被刪除的完整資訊 -->
    <table class="Details_Members">
        <tr>
            <th>@Html.DisplayNameFor(m => m.StuId)</th>
            <td>@Html.DisplayFor(m => m.StuId)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Name)</th>
            <td>@Html.DisplayFor(m => m.Name)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.NickName)</th>
            <td>@Html.DisplayFor(m => m.NickName)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Department)</th>
            <td>@Html.DisplayFor(m => m.Department)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.IG_Account)</th>
            <td>@Html.DisplayFor(m => m.IG_Account)</td>
        </tr>
    </table>


    <!-- 確認刪除表單：使用POST方法送到確認刪除動作 -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit"
                   value="確認刪除"
                   class="btn btn-danger"
                   style="font-weight:bold; width:250px; margin:15px" /><br />
            <a asp-action="List"
               class="btn btn-secondary"
               style="font-weight:bold; width:250px; margin:10px">返回清單</a>
        </div>
    }
</div>