@using Microsoft.AspNetCore.Html

@model _1132FinalProject.Models.NewMembersModel
@{
    ViewData["Title"] = "新生登記";
}

<div class="register-page">
    @if (TempData["Success"] != null)
    {
        <script>
            alert('@Html.Raw(TempData["Success"] as string)');
            window.location = '@Url.Action("Index", "Home")';
        </script>
    }

    @using (Html.BeginForm("NewRegister", "NewMembers", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="page-title">新生登記區</div>

        <div class="Register_textbox">
            @Html.LabelFor(m => m.StuId)
            @Html.TextBoxFor(m => m.StuId, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.StuId)
        </div>

        <div class="Register_textbox">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>

        <div class="Register_textbox">
            @Html.LabelFor(m => m.NickName)
            @Html.TextBoxFor(m => m.NickName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NickName)
        </div>

        <div class="Register_textbox">
            @Html.LabelFor(m => m.Department)
            @Html.TextBoxFor(m => m.Department, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Department)
        </div>

        <div class="Register_textbox">
            @Html.LabelFor(m => m.Section)
            @Html.TextBoxFor(m => m.Section, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Section)
        </div>

        <div class="Register_textbox">
            @Html.LabelFor(m => m.IG_Account)
            @Html.TextBoxFor(m => m.IG_Account, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.IG_Account)
        </div>
        <div class="mt-4 text-end w-100">
            <button type="submit" class="Register_button">送出</button>
        </div>
    }
</div>
