@model _1132FinalProject.Models.BookingViewModel
@{
    ViewData["Title"] = "場地租借登記";
}


<div class="d-flex justify-content-center" style="margin-top:10rem; gap:3rem">
    <div class="venue-reference" style="width:375px;">
        <div class="text-center" style="color:white; font-size:3rem; margin-bottom:1rem;">場地參考圖</div>
        <div class="reference-image-container" style="border-radius:10px; padding:0px 20px;">
            <img src="~/Images/Building_2-Booking.png" alt="場地參考圖" style="width:100%; height:25rem; border-radius:8px; padding:20px" />
        </div>
    </div>

    <div class="booking-form" style="width:360px;">
        <!--BeginForm("actionName", "controllerName", FormMethod.)
            名稱要扣掉Name

            GET 用於搜尋、查詢等不會改變伺服器狀態
            POST 用於提交資料，會改變伺服器狀態, 瀏覽器會詢問是否要重新提交表單
        -->
        @using (Html.BeginForm("BookingSpace", "Booking", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            //標題
            <div class="text-center"
                 style="font-size:3rem;
                        color:white;
                        text-align:center">
                @ViewData["Title"]
            </div>

            <!--場地選單
            Html.DropDownListFor(
            m => m.Location
            selectList,          // 選項清單
            optionLabel,         // 預設提示文字（不會有實際 value）
            htmlAttributes       // HTML 屬性參數
            -->

            <div class="form-group mb-4">
                @Html.LabelFor(m => m.Location)
                @Html.DropDownListFor(m => m.Location,
                         new SelectList(new[] {

            //Value:實際Location傳入Controller, Text:顯示給使用者看的字
            new { Value = "社課專用大空地", Text = "藍色區" },
            new { Value = "地下室電梯前", Text = "粉色區" },
            new { Value = "教室外空地", Text = "紫色區" },
            new { Value = "Room_2011", Text = "2011教室(綠色區)" },
            new { Value = "Room_2010", Text = "2010教室(橘色區)" },
            }, "Value", "Text"), "請選擇場地，紅色區域不可使用　　🔻",
                         new { @class = "form-control custom-dropdown", id = "Location" })
            </div>

            <div class="form-group mb-4">
                @Html.LabelFor(m => m.Time)
                @Html.TextBoxFor(m => m.Time, new
                    {
                        @class = "form-control",
                        id = "Time",
                        placeholder = "MM/dd HH:mm~HH:mm"
                    }) <!--提示文字-->
            </div>

            <div class="form-group mb-4">
                @Html.LabelFor(m => m.Section)
                @Html.TextBoxFor(m => m.Section, new { @class = "form-control", id = "Section" })
            </div>

            <div class="d-flex justify-content-between">
                <button type="button" id="btnSubmit" class="btn btn-primary">登記場地</button>
                <button type="button" id="btnView" class="btn btn-secondary">查看目前已租借場地</button>
            </div>
        }

    </div>
</div>

@section Scripts {
    <script src="~/js/booking.js"></script>
        }

